.contactButton {
    cursor: pointer;
    margin: 14px;
    width: 333px;
    height: 105px;
    text-align: center;
    background-image: linear-gradient( /* chrome */
        hsla(0, 0%, 100%, 0.6), hsla(0, 0%, 100%, 0) 50%,
        hsla(0, 0%, 0%, 0.2) 50%, hsla(0, 0%, 100%, 0.2)
    );
    
    border-radius: 10px;
    color: white;
    font: normal small-caps bold 32px Arial Black;
    text-shadow:
        0 0 15px hsla(0, 0%, 100%, 1),
        0 2px 4px hsla(0, 0%, 0%, 0.7);
    box-shadow:
        inset 0 -5px 20px hsla(0, 0%, 0%, 0.4),
        inset 0 5px 20px hsla(0, 0%, 100%, 0.4),
        -8px 8px 5px hsla(0, 0%, 0%, 0.15),
        5px 18px 10px hsla(0, 0%, 0%, 0.2);
}

.contactButton:hover {
    font-size: 35px;
}

.contactButton::before{
    background: linear-gradient(
     hsla(0, 0%, 100%, 0.8), hsla(0, 0%, 100%, 0) );
}

.blue{
    background-color: #ff9500;
}

.blue:hover{
    background-color: #ffaf3f;
}